<div class="adjusted-angles-block-div">
<!--
 [ngClass]="{'hidden': !stopClock}"> -->

  <!-- <div>ADJUSTED TIME</div> -->
  <!-- <div class="ab-text">ANGLES BETWEEN - </div> -->

  <!-- <div class="bw-h-m">HOUR AND MINUTE - </div> -->

  <!-- <div class="a-bw-h-m"> {{ differenceangleHMT.toFixed(2) }}</div> -->

  <!-- <div class="bw-h-s">HOUR AND SECONDS - </div> -->

  <!-- <div class="a-bw-h-s"> {{ differenceangleHST.toFixed(2) }}</div> -->
<!--
  <div class="bw-m-s">MINUTE AND SECONDS - </div> -->

  <!-- <div class="a-bw-m-s"> {{ differenceangleMST.toFixed(1) }}</div> -->
<!--
  <div class="rule-text">(move all hands for ADJUSTED angles)</div> -->

</div>
