<div class="buttons-block-div">
<!--
  <app-time-button-block></app-time-button-block> -->
  <!-- <app-stop-button-block></app-stop-button-block> -->
  <!-- <app-angle-hs-button-block></app-angle-hs-button-block> -->
  <!-- <app-angle-hm-button-block></app-angle-hm-button-block> -->
  <!-- <app-angle-ms-button-block></app-angle-ms-button-block> -->
  <!-- <app-adjusted-angles-block></app-adjusted-angles-block> -->
  <app-to-top-button></app-to-top-button>

  <app-time-button-b></app-time-button-b>

  <div class="three-div">3</div>

</div>
