<div class="sticky-container">

  <div (click)="openBox()" class="go-to-support-arrow">
    →
  </div>

  <div *ngIf="showBox" class="floating-box">
    <div>

    <span (click)="closeBox()" class="close-icon">&times;</span>

    <div class="for-hello">
      Hello
    </div>

    <div class="for-content-1">
      Would you like to show support to the developer's just

    </div>
    <div class="for-amount"> 5 Rs. ←
    </div>
    <!-- <div class="for-content-2">
      ,will help to get a coffee sachet
    </div>

    <div class="for-content-3">
        (to keep them awake)
    </div> -->

  </div>

  </div>


</div>

